.view-gaia-univerty
	.banner 
		background: 
			image: url(../images/gaia-university-banner-bg.jpg) 
			repeat: no-repeat 
			color: #ECEEF0
		height: 300px
		overflow: hidden
		img
			min-height: 300px
		h1
			font:
				size: 48px
				weight: lighter
			margin-bottom: 20px
			margin-top: 40px
		h2
			font:
				size: 21px
				weight: lighter
			margin-bottom: 40px
	.courses
		h2
			font:
				size: 36px
				weight: lighter
			text-align: center
		h3
			font:
				size: 21px
				weight: lighter			
			text-align: center
		.course
			height: 415px
			.label-free
				background: $success-background
				position: absolute
				color: $success-text
				padding: 5px 10px
				z-index: 3
			.picture-course
				height: 165px
				overflow: hidden
				transition-property: height
				transition-duration: 500ms				
			.details
				transition-property: margin, height, background, color
				transition-duration: 500ms
				background: #E8E8E8
				padding: 10px
				height: 140px
				overflow: hidden
				margin-bottom: 16px
				.day, .month
					background: $background-primary
					color: $background-primary-text
					padding: 2px 8px
					font-weight: bold
					border-radius: $default-radius
					text-align: center
					width: 100%
					margin-top: 5px
				.day
					font-size: 37px
				.description
					opacity: 0
					clear: both
					padding-top: 10px
		.course:hover
			cursor: pointer	
			.picture-course	
				transition-property: height
				transition-duration: 500ms				
				height: 0				
			.details
				transition-property: height, background, color
				transition-duration: 500ms
				height: 140px + 165px
				background: $background-primary-shadow
				color: $background-primary-text
				.description
					opacity: 1

					transition-property: opacity
					transition-duration: 500ms	
		.course.unavailable
			.picture-course
				opacity: 0.5
				filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale")
				filter: gray
				-webkit-filter: grayscale(100%)
			.details
				.day, .month
					background: #999



