*
	font-family: $default-font 
#header
	background: $background-primary
	border: none
	font-size: $font-size-default
	font-weight: normal	
	margin-bottom: 0
	.navbar-brand
		height: 50px
		margin: 0
		padding: 5px 10px
	.nav-li-user > a
		padding: 5px	
	.navbar-inverse
		background: $background-primary-shadow
	a
		color: $background-primary-text
	a:hover
		background: $background-primary-shadow
		transition: background 0.5s
	.navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus
		background-color: $background-primary-shadow

	.dropdown-menu
		background: $background-primary-shadow
		border: none
		padding: 0
		li a
			font-weight: normal
			padding: 8px 15px
			color: $background-primary-text - 20
		li a:hover
			background: $background-primary
		box-shadow: none
		border-radius: 0
		li.dropdown-header
			font-size: 13px
			padding: 8px 15px
			font-style: italic
			text-transform: uppercase

	.badge
		position: absolute
		top: 4px
		margin-left: 20px
		background: $background-important
	li.disabled
		opacity: 0.3
		a
			cursor: pointer
		.badge
			display: none
	.search-on-nav > .dropdown-menu
		visibility: visible
		display: block	
		form
			width: 440px
			select
				background: transparent
				-webkit-appearance: none
				width: 130px
				border: none
				color: $background-primary-text
				border-radius: 0
				overflow: hidden
				cursor: pointer
				-moz-appearance: none
				text-indent: 0.01px
				text-overflow: ''
			.btn
				background: $background-primary-shadow
				color: $background-primary-text
				border-color: $background-primary-shadow
#footer
	width: 100%
	position: fixed
	z-index: 100
	bottom: 0
	height: 40px	
	.navbar-footer
		height: 40px	
		min-height: 40px	
		background: $background-primary
		font-size: $font-size-default
		color: $background-primary-text
		min-height: 40px
		border-radius: 4px 4px 0 0
		a
			display: block
			padding: 8px 0 
			color: $background-primary-text
			text-decoration: none
	.support
		height: 300px
		transition-property: margin-top
		transition-duration: 0.3s
		transition-timing-function: ease-in-out		
		.phones
			text-align: left
			padding: 10px 20px
			font-size: $font-size-default - 1px
			.region-container
				height: 192px
				width: 220px
				overflow: hidden				
				.city
					width: 120px
					float: left
					display: block
	.support.up
		margin-top: -240px	
		transition-property: margin-top
		transition-duration: 0.3s
		transition-timing-function: ease-in-out