* {
  font-family: "Open Sans", "Helvetica", sans-serif;
}

#header {
  background: #0c54a4;
  border: none;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;
}
#header .navbar-brand {
  height: 50px;
  margin: 0;
  padding: 5px 10px;
}
#header .nav-li-user > a {
  padding: 5px;
}
#header .navbar-inverse {
  background: #09487c;
}
#header a {
  color: white;
}
#header a:hover {
  background: #09487c;
  transition: background 0.5s;
}
#header .navbar-nav > .open > a, #header .navbar-nav > .open > a:hover, #header .navbar-nav > .open > a:focus {
  background-color: #09487c;
}
#header .dropdown-menu {
  background: #09487c;
  border: none;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
}
#header .dropdown-menu li a {
  font-weight: normal;
  padding: 8px 15px;
  color: #ebebeb;
}
#header .dropdown-menu li a:hover {
  background: #0c54a4;
}
#header .dropdown-menu li.dropdown-header {
  font-size: 13px;
  padding: 8px 15px;
  font-style: italic;
  text-transform: uppercase;
}
#header .badge {
  position: absolute;
  top: 4px;
  margin-left: 20px;
  background: #d9534f;
}
#header li.disabled {
  opacity: 0.3;
}
#header li.disabled a {
  cursor: pointer;
}
#header li.disabled .badge {
  display: none;
}
#header .search-on-nav > .dropdown-menu {
  visibility: visible;
  display: block;
}
#header .search-on-nav > .dropdown-menu form {
  width: 440px;
}
#header .search-on-nav > .dropdown-menu form select {
  background: transparent;
  -webkit-appearance: none;
  width: 130px;
  border: none;
  color: white;
  border-radius: 0;
  overflow: hidden;
  cursor: pointer;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
}
#header .search-on-nav > .dropdown-menu form .btn {
  background: #09487c;
  color: white;
  border-color: #09487c;
}

#footer {
  width: 100%;
  position: fixed;
  z-index: 100;
  bottom: 0;
  height: 40px;
}
#footer .navbar-footer {
  height: 40px;
  min-height: 40px;
  background: #0c54a4;
  font-size: 14px;
  color: white;
  min-height: 40px;
  border-radius: 4px 4px 0 0;
}
#footer .navbar-footer a {
  display: block;
  padding: 8px 0;
  color: white;
  text-decoration: none;
}
#footer .support {
  height: 300px;
  transition-property: margin-top;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
#footer .support .phones {
  text-align: left;
  padding: 10px 20px;
  font-size: 13px;
}
#footer .support .phones .region-container {
  height: 192px;
  width: 220px;
  overflow: hidden;
}
#footer .support .phones .region-container .city {
  width: 120px;
  float: left;
  display: block;
}
#footer .support.up {
  margin-top: -240px;
  transition-property: margin-top;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.view-gaia-univerty .banner {
  background-image: url(../images/gaia-university-banner-bg.jpg);
  background-repeat: no-repeat;
  background-color: #eceef0;
  height: 300px;
  overflow: hidden;
}
.view-gaia-univerty .banner img {
  min-height: 300px;
}
.view-gaia-univerty .banner h1 {
  font-size: 48px;
  font-weight: lighter;
  margin-bottom: 20px;
  margin-top: 40px;
}
.view-gaia-univerty .banner h2 {
  font-size: 21px;
  font-weight: lighter;
  margin-bottom: 40px;
}
.view-gaia-univerty .courses h2 {
  font-size: 36px;
  font-weight: lighter;
  text-align: center;
}
.view-gaia-univerty .courses h3 {
  font-size: 21px;
  font-weight: lighter;
  text-align: center;
}
.view-gaia-univerty .courses .course {
  height: 415px;
}
.view-gaia-univerty .courses .course .label-free {
  background: #5cb85c;
  position: absolute;
  color: white;
  padding: 5px 10px;
  z-index: 3;
}
.view-gaia-univerty .courses .course .picture-course {
  height: 165px;
  overflow: hidden;
  transition-property: height;
  transition-duration: 500ms;
}
.view-gaia-univerty .courses .course .details {
  transition-property: margin, height, background, color;
  transition-duration: 500ms;
  background: #e8e8e8;
  padding: 10px;
  height: 140px;
  overflow: hidden;
  margin-bottom: 16px;
}
.view-gaia-univerty .courses .course .details .day, .view-gaia-univerty .courses .course .details .month {
  background: #0c54a4;
  color: white;
  padding: 2px 8px;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  width: 100%;
  margin-top: 5px;
}
.view-gaia-univerty .courses .course .details .day {
  font-size: 37px;
}
.view-gaia-univerty .courses .course .details .description {
  opacity: 0;
  clear: both;
  padding-top: 10px;
}
.view-gaia-univerty .courses .course:hover {
  cursor: pointer;
}
.view-gaia-univerty .courses .course:hover .picture-course {
  transition-property: height;
  transition-duration: 500ms;
  height: 0;
}
.view-gaia-univerty .courses .course:hover .details {
  transition-property: height, background, color;
  transition-duration: 500ms;
  height: 305px;
  background: #09487c;
  color: white;
}
.view-gaia-univerty .courses .course:hover .details .description {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 500ms;
}
.view-gaia-univerty .courses .course.unavailable .picture-course {
  opacity: 0.5;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
}
.view-gaia-univerty .courses .course.unavailable .details .day, .view-gaia-univerty .courses .course.unavailable .details .month {
  background: #999999;
}

.view-properties .side-filters {
  background: #efefef;
  position: absolute;
  height: 400px;
  width: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
}
