* {
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

#header {
  background: black;
  border: none;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;
}
#header .navbar-brand {
  height: 50px;
  margin: 0;
  padding: 5px 10px;
}
#header .nav-li-user > a {
  padding: 5px;
}
#header .navbar-inverse {
  background: #222222;
}
#header a {
  color: #ffcc33;
}
#header a:hover {
  background: #222222;
  transition: background 0.5s;
}
#header .navbar-nav > .open > a, #header .navbar-nav > .open > a:hover, #header .navbar-nav > .open > a:focus {
  background-color: #222222;
}
#header .dropdown-menu {
  background: #222222;
  border: none;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
}
#header .dropdown-menu li a {
  font-weight: normal;
  padding: 8px 15px;
  color: #ebb81f;
}
#header .dropdown-menu li a:hover {
  background: black;
}
#header .dropdown-menu li.dropdown-header {
  font-size: 13px;
  padding: 8px 15px;
  font-style: italic;
  text-transform: uppercase;
}
#header .badge {
  position: absolute;
  top: 4px;
  margin-left: 20px;
  background: #d9534f;
}
#header li.disabled {
  opacity: 0.3;
}
#header li.disabled a {
  cursor: pointer;
}
#header li.disabled .badge {
  display: none;
}
#header .search-on-nav > .dropdown-menu {
  visibility: visible;
  display: block;
}
#header .search-on-nav > .dropdown-menu form {
  width: 440px;
}
#header .search-on-nav > .dropdown-menu form select {
  background: transparent;
  -webkit-appearance: none;
  width: 130px;
  border: none;
  color: #ffcc33;
  border-radius: 0;
  overflow: hidden;
  cursor: pointer;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
}
#header .search-on-nav > .dropdown-menu form .btn {
  background: #222222;
  color: #ffcc33;
  border-color: #222222;
}

#footer {
  width: 100%;
  position: fixed;
  z-index: 100;
  bottom: 0;
  height: 40px;
}
#footer .navbar-footer {
  height: 40px;
  min-height: 40px;
  background: black;
  font-size: 14px;
  color: #ffcc33;
  min-height: 40px;
  border-radius: 4px 4px 0 0;
}
#footer .navbar-footer a {
  display: block;
  padding: 8px 0;
  color: #ffcc33;
  text-decoration: none;
}
#footer .support {
  height: 300px;
  transition-property: margin-top;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
#footer .support .phones {
  text-align: left;
  padding: 10px 20px;
  font-size: 13px;
}
#footer .support .phones .region-container {
  height: 192px;
  width: 220px;
  overflow: hidden;
}
#footer .support .phones .region-container .city {
  width: 120px;
  float: left;
  display: block;
}
#footer .support.up {
  margin-top: -240px;
  transition-property: margin-top;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
