.view-gaia-univerty
	.banner
		.container
			.row
				.col-sm-4
					%img{src: "images/gaia-university-man.png"}
				.col-sm-8
					%h1 Universidade Gaia
					%h2 
						Um centro de treinamentos, capacitação e dicas.
						%br/
						Exclusivo para imobiliárias Gaia.			
					%p
						%a.btn.btn-primary.btn-lg{href:"http://www.universidadegaia.com.br/account/Area-Restrita",target: "_blank"} Fazer treinamento completo
						%a.btn.btn-primary.btn-lg{href: "#formacao"} Formação Gaia
	.container.courses

		%h2#formacao Formação Gaia
		%h3 Multiplique seu conhecimento. Torne-se um especialista e realize mais negócios.
		.row 
			.col-sm-4{"ng-repeat"=>"course in courses"}
				.course{"ng-class"=>"{unavailable: !course.available}"}
					.picture-course
						.label-free{"ng-show"=>"course.registered"} Já estou inscrito
						.image
							%img.img-responsive{"ng-src"=>"{{course.image_path}}"}
					.details.closed
						.col-sm-12.col-md-4.hidden-sm.hidden-xs
							.day {{course.start_date | dateTime:"day"}}
							.month {{(course.start_date | dateTime:"month").substring(0,3)}}
						.col-sm-12.col-md-8
							%h4.title {{course.title}}
							.hour 
								%i.fa.fa-clock-o
								{{course.start_date | dateTime:"hours"}}h{{course.start_date | dateTime:"minutes"}}
						.col-sm-12.description {{course.description}}
					.text-center.buttons
						%div{"ng-show"=>"course.available"}
							%a.btn.btn-success{href: "#","ng-hide"=>"course.registered","ng-click"=>"register_me(true,course)"} Inscrever-me
							%a.btn.btn-link{href: "#","ng-show"=>"course.registered","ng-click"=>"register_me(false,course)"} Cancelar inscrição
						%div{"ng-hide"=>"course.available"}
							%a.btn.btn-default.disabled{href: "javascript:"} Inscrições canceladas


		%hr/
		%p &nbsp;
	

