<!DOCTYPE html>
<html ng-app='GaiaApp'>
  <head ng-controller='HeadController'>
    <script src='components/angular/angular.min.js' type='text/javascript'></script>
    <script src='components/angular-resource/angular-resource.min.js' type='text/javascript'></script>
    <script src='components/angular-animate/angular-animate.min.js' type='text/javascript'></script>
    <script src='components/angular-route/angular-route.min.js' type='text/javascript'></script>
    <script src='components/angular-sanitize/angular-sanitize.min.js' type='text/javascript'></script>
    <script src='components/jquery/jquery.min.js' type='text/javascript'></script>
    <script src='components/bootstrap/dist/js/bootstrap.min.js' type='text/javascript'></script>
    <!-- Init -->
    <script src='js/init.js' type='text/javascript'></script>
    <!-- Directives -->
    <script src='js/angular/directives/web_controls_directive.js' type='text/javascript'></script>
    <!-- Filters -->
    <script src='js/angular/filters/filters.js' type='text/javascript'></script>
    <!-- Factories -->
    <script src='js/angular/factories/head_factory.js' type='text/javascript'></script>
    <script src='js/angular/factories/menu_factory.js' type='text/javascript'></script>
    <script src='js/angular/factories/notifications_factory.js' type='text/javascript'></script>
    <script src='js/angular/factories/contact_phones_factory.js' type='text/javascript'></script>
    <!-- Controllers -->
    <script src='js/angular/controllers/head_controller.js' type='text/javascript'></script>
    <script src='js/angular/controllers/menu_controller.js' type='text/javascript'></script>
    <script src='js/angular/controllers/footer_controller.js' type='text/javascript'></script>
    <script src='js/angular/controllers/dashboard_controller.js' type='text/javascript'></script>
    <script src='js/angular/controllers/properties_controller.js' type='text/javascript'></script>
    <script src='js/angular/controllers/gaia_university_controller.js' type='text/javascript'></script>
    <meta charset='utf-8'>
    <title ng-bind='head.title'></title>
    <link href='components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='components/font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link href='components/open-sans-fontface/open-sans.css' rel='stylesheet' type='text/css'>
    <link ng-href='css/theme_{{theme}}.css' rel='stylesheet' type='text/css'>
    <link href='css/animate.css' rel='stylesheet' type='text/css'>
    <link href='css/animate-angular.css' rel='stylesheet' type='text/css'>
    <link href='{{head.shortcut_icon}}' rel='shortcut icon'>
  </head>
  <body>
    <header class='navbar navbar-static-top bs-docs-nav navbar-inverse' id='header' ng-controller='MenuController' role='banner'>
      <p class='text-center' ng-show='loading'>
        <spinner></spinner>
      </p>
      <div class='header_notification animate-slide-up-down' ng-show='show_alert' style='background: {{alert.style.background}}; color: {{alert.style.color}};'>
        <div class='alert'>
          <div class='pull-right'>
            <a class='close' ng-click='toogleNoti(false)' ng-show='alert.close'>&times;</a>
          </div>
          <div class='container' ng-bind-html='alert.content'></div>
        </div>
      </div>
      <div class='container' ng-show='main_menu'>
        <div class='navbar-header'>
          <button class='navbar-toggle' data-target='.bs-navbar-collapse' data-toggle='collapse' type='button'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
          <a class='navbar-brand' href='.'>
            <img alt='Início' height='40' ng-src='{{home_image_path}}' width='40'>
          </a>
        </div>
        <nav bs-navbar='bs-navbar' class='collapse navbar-collapse bs-navbar-collapse' role='navigation'>
          <ul class='nav navbar-nav navbar-left'>
            <li class='dropdown' ng-repeat='menu in main_menu'>
              <!-- if has submenu -->
              <a class='dropdown-toggle' data-toggle='dropdown' href='{{menu.path}}' ng-click='show_search = false' ng-show='menu.items.length &gt; 0'>
                {{menu.label}}
                <b class='caret' ng-show='menu.items.length &gt; 0'></b>
              </a>
              <ul class='dropdown-menu' ng-show='menu.items.length &gt; 0'>
                <li ng-repeat='submenu in menu.items'>
                  <a href='#!/{{submenu.path}}'>{{submenu.label}}</a>
                </li>
              </ul>
              <!-- if no submenu -->
              <a href='{{menu.path}}' ng-click='show_search = false' ng-show='menu.items.length &lt; 1 || !menu.items'>
                {{menu.label}}
              </a>
            </li>
          </ul>
          <ul class='nav navbar-nav navbar-right'>
            <li class='hidden-sm hidden-xs' ng-class='{disabled: unread_notifications.length &lt; 1}' ng-show='secondary_menu.notifications'>
              <a href='{{secondary_menu.notifications_path}}' ng-click='clearNotifications()'>
                <i class='fa fa-flag'></i>
              </a>
              <span class='badge badge-important' ng-show='unread_notifications.length &gt; 0'>{{unread_notifications.length}}</span>
            </li>
            <li ng-show='secondary_menu.settings'>
              <a class='dropdown-toggle' data-toggle='dropdown' href='' ng-click='show_search = false'>
                <i class='fa fa-cog'></i>
              </a>
              <ul class='dropdown-menu' ng-show='secondary_menu.settings_items.length &gt; 0'>
                <li ng-repeat='submenu in secondary_menu.settings_items'>
                  <a href='{{submenu.path}}'>{{submenu.label}}</a>
                </li>
              </ul>
            </li>
            <li class='search-on-nav hidden-sm hidden-xs' ng-class='{open: show_search}' ng-show='secondary_menu.search'>
              <a href='' ng-click='show_search = !show_search'>
                <i class='fa fa-search'></i>
              </a>
              <div class='dropdown-menu' ng-show='show_search'>
                <div class='search-on-nav'>
                  <form class='navbar-form'>
                    <div class='input-group'>
                      <select class='form-control' ng-model='searchBy' ng-options='c.label group by c.group for c in search_options'></select>
                      <input class='form-control' placeholder='Buscar por {{searchBy.label}}' type='search'>
                      <span class='input-group-btn'>
                        <button class='btn btn-default' type='submit'>
                          Buscar
                        </button>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
            </li>
            <li class='nav-li-user'>
              <a class='dropdown-toggle' data-toggle='dropdown' href='' ng-click='show_search = false'>
                <img alt='secondary_menu.profile_info.nickname' class='img-circle' height='40' ng-src='{{secondary_menu.profile_info.photo_path}}' width='40'>
              </a>
              <ul class='dropdown-menu'>
                <li class='dropdown-header' role='presentation'>{{secondary_menu.profile_info.nickname}}</li>
                <li ng-show='secondary_menu.profile'>
                  <a href='{{secondary_menu.sign_out_path}}'>Editar meu perfil</a>
                </li>
                <li>
                  <a href='{{secondary_menu.edit_user_path}}'>Sair</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <ng-view class='view-animate'></ng-view>
    <footer class='hidden-xs' id='footer' ng-controller='FooterController'>
      <div class='container'>
        <div class='row'>
          <div class='col-sm-9'>
            <div class='navbar-footer products'>
              <div class='row'>
                <div class='col-sm-4 text-center' ng-show='footer.universidade_gaia'>
                  <a ng-href='#!/{{footer.universidade_gaia_path}}'>
                    <img src='images/footer-logo-universidade.png'>
                  </a>
                </div>
                <div class='col-sm-4 text-center' ng-show='footer.gaia_inc'>
                  <a ng-href='{{footer.gaia_inc_path}}'>
                    <img src='images/footer-logo-inc.png'>
                  </a>
                </div>
                <div class='col-sm-4 text-center' ng-show='footer.gaia_credito'>
                  <a ng-href='{{footer.gaia_credito_path}}'>
                    <img src='images/footer-logo-credito.png'>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class='col-sm-3 text-center'>
            <div class='navbar-footer support' ng-class='{up: openedSupport}'>
              <a href='' ng-click='openedSupport = !openedSupport'>
                <i class='fa fa-comments-o'></i>
                Suporte e dúvidas
              </a>
              <div class='phones'>
                <div class='region-container'>
                  <div class='region animate-slide-right' ng-hide='!isCurrentPhone($index)' ng-repeat='cont in contact_phones'>
                    <h4>{{cont.region}}</h4>
                    <div ng-repeat='phone in cont.phones'>
                      <span class='city'>{{phone.city}}</span>
                      {{phone.phone_number}}
                      <br>
                    </div>
                  </div>
                </div>
                <p>
                  <strong>
                    <a href='javascript:false' ng-click='setCurrentPhone(currentPhone + 1)'>
                      <i class='fa fa-phone'></i>
                      Telefones do {{getNextPhone().region}}
                    </a>
                  </strong>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
