.view-properties
	.side-filters
		%form.form-horizontal
			%legend Buscar por referência
		%form.form-horizontal
			%legend Buscar critérios
			.form-group
				%label.col-sm-3.control-label{for: "inputEmail3"} Venda
				.col-sm-9
					.checkbox
						%input{type: "checkbox"}					
			.form-group
				%label.col-sm-3.control-label{for: "inputEmail3"} Locação
				.col-sm-9
					.checkbox
						%input{type: "checkbox"}	
			.form-group
				%label.col-sm-3.control-label{for: "inputEmail3"} Tipo do imóvel
				.col-sm-9
					%input.form-control{type: "text"} 										

	.container
		.tools
			.pull-right
				.btn-group
					%a.btn.btn-default{href: "javascript:"} 
						Ordenando por atualização
					%a.btn.btn-default{href: "javascript:"} 
						%i.fa.fa-th-list
					%a.btn.btn-default{href: "javascript:"} 
						%i.fa.fa-filter					
			%a.btn.btn-default{href: "javascript:"} 
				%i.fa.fa-long-arrow-left
				Refinar busca
