<div class='view-properties'>
  <div class='side-filters'>
    <form class='form-horizontal'>
      <legend>Buscar por referência</legend>
    </form>
    <form class='form-horizontal'>
      <legend>Buscar critérios</legend>
      <div class='form-group'>
        <label class='col-sm-3 control-label' for='inputEmail3'>Venda</label>
        <div class='col-sm-9'>
          <div class='checkbox'>
            <input type='checkbox'>
          </div>
        </div>
      </div>
      <div class='form-group'>
        <label class='col-sm-3 control-label' for='inputEmail3'>Locação</label>
        <div class='col-sm-9'>
          <div class='checkbox'>
            <input type='checkbox'>
          </div>
        </div>
      </div>
      <div class='form-group'>
        <label class='col-sm-3 control-label' for='inputEmail3'>Tipo do imóvel</label>
        <div class='col-sm-9'>
          <input class='form-control' type='text'>
        </div>
      </div>
    </form>
  </div>
  <div class='container'>
    <div class='tools'>
      <div class='pull-right'>
        <div class='btn-group'>
          <a class='btn btn-default' href='javascript:'>
            Ordenando por atualização
          </a>
          <a class='btn btn-default' href='javascript:'>
            <i class='fa fa-th-list'></i>
          </a>
          <a class='btn btn-default' href='javascript:'>
            <i class='fa fa-filter'></i>
          </a>
        </div>
      </div>
      <a class='btn btn-default' href='javascript:'>
        <i class='fa fa-long-arrow-left'></i>
        Refinar busca
      </a>
    </div>
  </div>
</div>
